.App {
  text-align: center;

}

/*
3 values: top right/left bottom
4 values: clockwise*/

.content{
  margin: auto 0.8rem auto;  
}

.parallax {

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0.2rem;
  /*box-shadow: 0 0 0.2rem 0.2rem white inset;*/
}

p{
text-align: center;
  font-size: 1rem ;
  font-color: grey;

  padding: 2rem 5rem 5rem;
  margin: 0.5rem 10% auto;
}

h3{
  text-align: center;
}

.section-1{
  background-image: url('/images/restimage1.jpg');
  min-height: 900px;
}


.section-2 p{
  border-bottom-style: ridge;

}


.section-4{
  /* The image used */
  background-image: url('/images/restimage3.jpg');
  min-height: 600px;
}

.section-5{
  height: 1000px;
}


.section-3
{
    width:100%;
    padding: 10px auto 10px;
    display:inline-block;
}

.description
{   text-align: left;
    width:50%;
    float:left;
    padding-right: 0rem;
    margin-right: 5%;
    margin-left: 5%;
}

.image
{
    padding-top: 2rem;
    max-width:30%;
    float:left;
    padding-bottom: 5rem;
}
    

@media (max-width:800px) {
  .description {
    text-align: center;
  padding: 2rem 5rem 0rem;
  margin: auto 0% auto;

    float:none;
    width:100%;
  }

  .image {
    float:center;
    text-align: center; 
    max-width:100%;
  }
}